.slider-image {
  min-height: 397px;
  height: calc(100vh - 157px);
  width: 100%;
  background-color: #ddd;
  padding: 10px;
  cursor: zoom-in;
  justify-content: space-evenly;
  .carousel-inner {
    height: 100%;
    .carousel-item {
      height: inherit;
      justify-content: center;
      align-items: center;
      &.active {
        display: flex;
      }
      img {
        max-width: 400px !important;
        transition: max-width 0.5s;
      }
    }
    .carousel-item-next,
    .carousel-item-prev {
      display: flex;
    }
  }
  &:hover {
    .carousel-inner {
      .carousel-item {
        img {
          max-width: 500px !important;
        }
      }
    }
  }
}
