@font-face {
  font-family: BasisGrotesquePro;
  src: url('./assets/fonts/FontsFree-Net-BasisGrotesquePro-Regular.ttf');
}
@font-face {
  font-family: BasisGrotesquePro;
  src: url('./assets/fonts/FontsFree-Net-BasisGrotesquePro-Light.ttf');
  font-weight: lighter;
}
@font-face {
  font-family: BasisGrotesquePro;
  font-weight: bold;
  src: url('./assets/fonts/FontsFree-Net-BasisGrotesquePro-Bold.ttf');
}
*{
  font-family: BasisGrotesquePro sans-serif;
}
.app{
}